.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--app-bg);
    .login-card {
        max-width: 32rem;
        background: var(--login-bg);
        border: 1px solid var(--border-color);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 { margin-bottom: 0.75rem;}
        p {
            margin-bottom: 1.5rem;
            text-align: center;
        }
    }
}