.cc-carousel.slick-slider {
    .slick-track {
      display: flex !important;
      margin: 0;
      gap: 2rem;
    }
    .slick-slide {
      height: auto;
    }
    .slick-list {
      margin-right: -0.75rem;
      margin-left: -0.75rem;
      overflow: initial;
    }
    .slick-track > .slick-slide {
      display: flex;
      justify-content: center;

      & > div {
        width: 100%;
        padding: 0;
      }
    }

    .cc-carousel-arrow-btn {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      color: var(--app-color);
      background: var(--carousel-bg);
      border: 1px solid var(--carousel-arrow-border);
      box-shadow: 0 0 .5rem 0 var(--carousel-arrow-shadow-color);
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;

      opacity: 0;
      transition: opacity ease-out 200ms;

      &:hover, &:focus {
        background: var(--carousel-arrow-hover);
        box-shadow: var(--carousel-focus);
      }

      &::before {
        content: "";
      }
    }

    &:hover, &:active, &:focus, &:focus-within {
      .cc-carousel-arrow-btn {
        opacity: 1;
        transition: opacity ease-in 200ms;
      }
    }

    .next-arrow { 
      right: -3rem;
      @media screen and (max-width: 480px){
        right: 0;
      }
    }
    .prev-arrow { 
      left: -3rem; 
      @media screen and (max-width: 480px){
        left: 0;
      }
    }

  }