.error-fallback {
    color: var(--body-color);
    height: 100vh;
    .no-content-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .main-text {
            color: var(--body-color);
            font-size: 1.25rem;
            margin: 0;
            margin-bottom: 1rem;
        }
    }
}