@import './colors';
// Variables
$app-bg-default: $black;
$app-submenu-bg-default: $grey-600;
$color-default: $white;

$navigation-bg-default: $grey-550;

$border-color-default: $grey-500;
$border-hover-default: $grey-500;

$btn-primary-color-bg-default: $yellow;
$btn-primary-color-default: $black;

$btn-primary-hover-bg-default: $grey-200;
$btn-primary-hover-default: $grey-200;

$progress-loader-square-color-default: $yellow;

$dropdown-bg-default: $grey-550;
$dropdown-color-default: $white;