@import './colors';
// Variables
$bg-default: $black;
$color-default: $white;
$icon-color-default: $white;

$header-bg-default: $grey-450;
$navbar-bg-default: $grey-450;

$login-bg-default: $grey-600;
$border-color-default: $grey-500;
$border-hover-default: $grey-500;

$btn-primary-color-bg-default: $yellow;
$btn-primary-color-default: $black;

$btn-primary-hover-bg-default: $grey-200;
$btn-primary-hover-default: $grey-200;