@import './customVariables';

.theme-default {
    --body-bg: #{$bg-default};
    --body-color: #{$color-default};

    --icon-color: #{$icon-color-default};

    --header-bg-color: #{$header-bg-default};
    --header-search-bg:#{$bg-default};
    --header-search-color:#{$color-default};

    --navbar-bg:#{$navbar-bg-default};
    --login-bg: #{$login-bg-default};

    --border-color: #{$border-color-default};
    --btn-primary-color-bg: #{$btn-primary-color-bg-default};
    --btn-primary-color: #{$btn-primary-color-default};
    --btn-primary-hover-bg: #{$btn-primary-hover-bg-default};
    --btn-primary-hover: #{$btn-primary-hover-default};

    --progress-loader-bg: #{$progress-loader-bg-default};
    --progress-loader-square-color: #{$progress-loader-square-color-default};
}