@use "./_customVariables.scss";

.theme-default {
    --body-bg: #{$bg-default};
    --body-color: #{$color-default};

    --icon-color: #{$icon-color-default};

    --header-bg-color: #{$header-bg-default};
    --header-search-bg:#{$bg-default};
    --header-search-color:#{$color-default};

    --navbar-bg:#{$navbar-bg-default};
}