@import './customVariables';
@import './themes';

body {
    --vertical-nav-collapse-width: 5rem;
    --vertical-nav-expanded-width: 18rem;
    --header-width: 4rem;
    --avatar-size: 2.5rem;
    --search-suggestion-item-height: 3rem;
}